@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}
button {
  cursor: pointer;
  background-color: #5282b2;
  color: white;
}

select {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  text-size: 2em;
  font-weight: 100;
}
div#main {
  background-color: #e8e2e2;
  width: 1250px;
  height: 550px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  column-gap: 20px;
}
div#side-bar {
  text-align: center;
  background-color: #040323;
  border: none;
  border-radius: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

button.sidebar-btn {
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  border: none;
  outline: 4px solid #ffffff;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 20px;
}

button.sidebar-btn:hover {
  background-color: #a7eaff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #000000;
}

button.sidebar-btn:active {
  opacity: 0.5;
}

button.sidebar-btn:disabled {
  background-color: #a7eaff;
  cursor: default;
  color: #000000;
}

div#body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("https://getwallpapers.com/wallpaper/full/2/e/4/863043-top-wallpaper-for-computer-background-2560x1600.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5d3891;
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
div.grid-question-box {
  grid-area: question-box;
}
div.grid-code-box {
  grid-area: code-box;
}
div.grid-answers-box {
  grid-area: answers-box;
}
div.grid-progress-box {
  grid-area: progress-box;
}
div.grid-container {
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 33% 33% 33%;
  display: grid;
  grid-template-areas:
    "question-box question-box question-box"
    "code-box answers-box answers-box"
    "progress-box progress-box progress-box";
  gap: 20px;
  height: 100%;
}
div#question-box {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  text-align: left;
  background-color: #a7eaff;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
  opacity: 0.9;
}

div#question-btn-menu {
  font-family: "Josefin Sans", sans-serif;
  margin-left: auto;
  margin-right: 0;
}

div#question-btn-menu > button {
  font-family: "Josefin Sans", sans-serif;
  background-color: #5282b2;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
}

div#question-btn-menu > button:hover {
  background-color: #183a7a;
  transition: all 0.3s ease 0s;
}

div#code-box {
  text-align: left;
  background-color: #533281;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
div#code-box > textarea {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  background-color: #ffffff;
  color: #000000;
  resize: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
}
div#answers-box {
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  text-align: left;
  background-color: #a7eaff;
  border: none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 30px;
  margin-top: 20px;
  opacity: 0.9;
}
div#answers-box > button {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  margin: 10px;
  background-color: #5282b2;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  white-space: normal;
}

div#answers-box > button:hover {
  background-color: #183a7a;
  transition: all 0.3s ease 0s;
}

div#progress-box {
  padding: 20px;
  text-align: left;
  background-color: #040323;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  opacity: 0.8;
}
span#question-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 100;
}

[class^="prog-node-"] {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-right: 20px;
  padding: 10px;
}

.end-game {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  background-color: #03031b;
  opacity: 0.9;
}
.form-container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.left-column {
  flex: 1;
  padding-right: 20px;
}

.right-column {
  flex: 1;
  padding-left: 20px;
  width: 100%;
  background-color: #03031b;
  padding: 20px;
  opacity: 0.9;
  color: white;
}

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container textarea,
.form-container select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container .radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.submit-button {
  width: 20%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #a7eaff;
  color: #000000;
  text-align: center;
  cursor: pointer;
  margin: 20px 10px 0px 0px;
  font-family: "Josefin Sans", sans-serif;
}

.form-container .start-btn {
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #4caf50;
  color: #000000;
  text-align: center;
  cursor: pointer;
}

.form-container .submit-button:hover {
  opacity: 0.8;
}

.form-container .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.temp {
  display: flex;
}

.game-config {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: fit-content;
  background-color: #a7eaff;
  border-radius: 10px;
  width: 100%;
  color: black;
}
select#choose-difficulty {
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: transparent;
  width: 200px;
  height: 45px;
  color: black;
  margin-bottom: 10px;
}

select#choose-difficulty > option {
  background-color: #a7eaff;
}

.start-btn {
  margin-top: 10px;
  background-color: #5282b2;
  border: none;
  border-radius: 5px;
  height: 45px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: relative;
}

.start-btn:hover {
  animation: wiggle 0.5s;
  cursor: pointer;
}

@keyframes wiggle {
  0% {
    left: 0;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}

#error-msg-box {
  font-family: "Josefin Sans", sans-serif;
  font-size: 11px;
  font-weight: 100;
}
.game-description {
  font-size: 13px;
  font-weight: 100;
  height: fit-content;
  line-height: 1.5;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background-color: #a7eaff;
  color: black;
  opacity: 0.9;
  font-size: 14px;
}

.headline {
  margin-bottom: 20px;
  color: cyan;
}

.home-view-div {
  background-color: #03031b;
  border: 2px solid white;
  color: white;
  opacity: 0.9;
  width: stretch;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: fit-content;
  font-size: 16px;
}

.trophy-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.trophy {
  width: 120px;
  border: 4px solid #5d3891;
  border-radius: 5px;
  line-height: 15px;
  padding-left: 10px;
}

.questionAdd-config {
  padding: 20px;
  flex-direction: column;
  color: white;
  align-items: left;
  height: fit-content;
  background-color: #03031b;
  border-radius: 5px;
  width: 50%;
  opacity: 0.9;
}
